<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>292611005254-qcgf6jkemiplpluhs5f8prh3lc2ff56n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292611005254-qcgf6jkemiplpluhs5f8prh3lc2ff56n</string>
	<key>API_KEY</key>
	<string>AIzaSyAa1_qYFg1JboPq5iHSnoTN_Zowd2FcyE4</string>
	<key>GCM_SENDER_ID</key>
	<string>292611005254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pandey.MyFirstFireBaseProject</string>
	<key>PROJECT_ID</key>
	<string>myfirstfirebaseproject-6f23a</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstfirebaseproject-6f23a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:292611005254:ios:4a1a9a0d22333b9c</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstfirebaseproject-6f23a.firebaseio.com</string>
</dict>
</plist>